.Header {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 5em 0;
    text-align: center;
}

.Header h1 {
    font-weight: 400;
}

.Container {
    padding-bottom: 10em;
}

.SectionContainer {
    display: flex;
}

.Article {
    background: rgb(246,218,195);
    background: linear-gradient(90deg, rgba(246,218,195,0) 10%, rgba(177,142,114,1) 140%);

    padding: 5em 5em;
    width: 60%;
}

.ArticleTitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.SectionImage {
    display: block;
    width: 40%;
    height: 440px;
}