.section-about {
    padding: 1.25em;

    position: relative;
}

.background-text, .background-text-2{
    position: absolute;

    font-size: 6rem;
    font-weight: 600;

    color: #f0f0f0;
    
    z-index: -1;
}

.background-text {
    transform: rotate(90deg);
    top: 2.5em;
}

.background-text-2 {
    right: .5em;
    bottom: 5em;
}

.container-about {
    display: flex;
    flex-direction: column;

    max-width: 720px;

    margin: auto;
}

.container-about > div > h1 {
    font-size: 2.15rem;
    font-weight: 400;
}

.container-about > div > p {
    margin: .5em 0;
    font-size: 1.15rem;
}

.container-about > div > p > span {
    font-weight: 500;
    font-size: 1.25rem;
}

.container-about > div > p > a {
    font-weight: 600;

    color: black;
  
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.container-about > div > p > a:hover {
    color: rebeccapurple;
}

.container-about > img {
    width: 100%;
    display: block;
}

.container-about > div > p:last-child {
    font-weight: 500;
    line-height: 1.25em;

    margin-bottom: 1em;
}

@media (min-width: 750px) {
    .section-about {
        padding: 4em 1em;
    }
}

@media (min-width: 1000px ) {
    .container-about > div > h1 {
        font-size: 2.75rem;
    }

    .container-about > div > p {
        font-size: 1.25rem;
    }
}

@media (min-width: 1600px) {
    .container-about {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1500px;
    } 

    .container-about > div {
        max-width: 650px;

        order: 2;
    }

    .container-about > img {
        object-fit: contain;
        max-width: 800px;

        order: 1;
    }
}