.Heading {
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
}

.FormCard {
    background-color: #E0DDD7;
    border-radius: .25em;
    padding: 2em;

    width: 10%;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FormHeading {
    text-align: center;
    font-weight: 400;
    margin-bottom: .75em;
}

.InputFields {
    border: none;
    border-radius: 0.25em;
    
    padding: 1em;
    margin-bottom: 2em;

    outline: none;
}

.TableContainer {
    margin: 0 2em;
    justify-content: space-between;
}

.Table {
    table-layout:fixed;
    width: 85%;
}

.DeleteButton {
    background-color: rgba(197, 3, 3, 0.692);
    color: white;
    border: none;
    border-radius: .1em;
    margin: 0 .25em;
    padding: .5em .65em;
    cursor: pointer;
    transition: opacity .3s, color .3s;

}

.DeleteButton:hover {
    opacity: 0.9;
    color: #1A1713 ;
}

.AddButton {
    background-color: #B18E72  ;
    color: white;

    border: none;
    border-radius: 0.1em;

    margin: 0 3em;
    padding: .8em;

    cursor: pointer;
    transition: opacity 0.2s linear, color 0.2s;
}

.AddButton:hover {
    color: #1A1713 ;
    opacity: 0.9;
}


.UpdateButton {
    background-color: #B18E72 ;
    color: white;
    border: none;
    border-radius: .1em;
    margin: 0 .25em;
    padding: .5em .65em;
    cursor: pointer;
    transition: opacity .3s, color .3s;
}

.UpdateButton:hover {
    opacity: 0.8;
    color: #1A1713 ;
}


/* th {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
}

td {
    text-align: center;
    padding-left: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */