main {
    background: rgb(246,218,195);
    background: linear-gradient(180deg, rgba(246,218,195,0) 40%, rgba(177,142,114,1) 130%);
}

aside {
    width: 15%;
}

.BackgroundContainer {
    width: 100%;
    background-color: white;
    padding: 2em;
    border-radius: .25em;
    box-shadow: 0 0 1em .5em rgba(0, 0, 0, .1);
}

.Container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.Header {
    text-align: center;
    padding: 5em 0;
}

.HeaderTitle {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}

.HeaderSubTitle {
    margin: 0;
    margin-top: .55em;
    font-size: 1.5rem;
    font-weight: 400;
    color: #b7b3ad;
}

.CarList{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1,
}

.Card {
    width: 32%;

    border-radius: 0.25em;

    padding-bottom: 3em;
    margin-bottom: 1.5em;
}

.CardText {
    color: #1A1713;

    font-size: 1.25rem;
    
    display: flex;

    margin-bottom: 0.25em;

    transition: opacity 0.1s linear, color 0.3s;
}

.CardModel {
    color: #B18E72 ; 
}

.CardPrice {
    color: #1A1713;
    display: flex;
    margin-bottom: 0.5em;
}

.CardImage { 
    border-radius: 0.25em;
    
    display: block;

    object-fit: cover;
    width: 92%;
    height: 12.5em;
    max-width: 100%;

    margin: auto;

    transition: height 0.2s, width 0.3s, box-shadow 0.3s;
}

.CardImage:hover {
    width: 420px;
    height: 220px;
    box-shadow: 0em 1em 1.5em rgb(0, 0, 0, 0.15);
}

.FilterContainer {
    margin-bottom: 5em;
}

.AsideTitle {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.AsideDropdown {
    border: 1px solid #b7b3ad;
    border-radius: .25em;
    outline: none;
    padding: .75em 2em;
}

.AsideInput {
    width: 75%;
    margin: .25em 0;
    border: 1px solid #b7b3ad;
    border-radius: 0.25em;
    padding: .75em 2em;
    outline: none;
}

.AsideInput::-webkit-outer-spin-button,
.AsideInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

