.Button {
    background-color: #B18E72  ;
    color: white;

    font-size: 1.25rem;

    border-radius: 0.1em;

    margin: 4em 0;
    padding: 1em 1.5em;

    transition: opacity 0.1s linear, color 0.3s;
}

.Button:hover {
    color: #1A1713 ;
    opacity: 0.9;
}


/* for Location section */

.locationSection {
    background: rgb(246,218,195);
    background: linear-gradient(146deg, rgba(246,218,195,1) 0%, rgba(207,167,135,0.6306897759103641) 50%, rgba(177,142,114,1) 100%);
    padding: 5em 0;
    margin: 0;
}

.locationHeader {
    font-size: 2rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    margin-top: 1.5em;
    margin-bottom: 3.5em;
}

.container {
    margin: 0 10em;
}