.section-clip-bottom {
    width: 100%;
    height: 50%;
    
    position: absolute;
    bottom: -1px;
    
    z-index: 0;
    
    background-color: white;

    clip-path: polygon(100% 100%, 0 100%, 100% 90%);
}

.background-image-brands {
    position: absolute;
    right: 2em;
    bottom: 0em;

    width: 650px;
    z-index: 0;
}

.section-brands {
    background-color: #F7F7F7;
    text-align: center;

    display: none;

    padding: 7em 0;

    position: relative;
}

.section-brands h1 {
    font-size: 2.15rem;
    font-weight: 400;
}

.card-wrapper-brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;

    max-width: 600px;
    margin: 4em auto;
}

.card-brands {
    display: flex;
    
    width: 288px;
    height: 240px;
    
    background-image: url(https://rentluxecar.com/images/dotted-bg.png);

    z-index: 1;
}

.card-brands img {
    display: block;
    
    width: 70%;
    margin: auto;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

@media (min-width: 750px) {
    .section-brands {
        display: block;
    }
}

@media(min-width: 1000px) {
     .section-clip-bottom {
        height: 70%;
    }
    
    .section-brands h1 {
        font-size: 3rem;
    }

    .card-wrapper-brands {
        max-width: 912px;
    }

    .card-brands > img {
        width: 80%;
    }
}

@media (min-width: 1600px) {
    .card-wrapper-brands {
        max-width: 1536px;
    }
}