.brand-section-clip-top, .brand-section-clip-bottom {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 0;
    background-color: white;
}

.brand-section-clip-top {
    clip-path: polygon(0 0, 0 10%, 100% 0);
    top: 0;
}

.brand-section-clip-bottom {
    clip-path: polygon(100% 100%, 0 100%, 100% 90%);
    bottom: -1px;
}

.brand-section {
    background-color: #F7F7F7;
    text-align: center;

    display: none;

    padding: 7em 0;

    position: relative;
}

.brand-section h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.brands-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;

    max-width: 600px;
    margin: 4em auto;

}

.brand-card {
    display: flex;
    width: 288px;
    height: 240px;
    background-image: url(https://rentluxecar.com/images/dotted-bg.png);
}

.brand-card img {
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

@media (min-width: 750px) {
    .brand-section {
        display: block;
    }
}

@media(min-width: 1000px) {
    .brand-section-clip-top, .brand-section-clip-bottom {
        height: 70%;
    }

    .brands-card-wrapper {
        max-width: 912px;
    }

    .brand-section h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1600px) {
    .brands-card-wrapper {
        max-width: 1536px;
    }
}