.BrandsSection {
    padding: 5em 0;
    margin: 0 10em;
}

.Header {
    font-size: 2rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    margin-top: 1em;
    margin-bottom: 2.5em;
}

.Header h1 {
    font-weight: 400;
}

.CardsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: auto;
}

.Card {
    text-align: center;
    margin-bottom: 5em;
    width: 25%;
}

.CardImage {
    max-width: 180px;
}