.FeaturedSection { 
    background: rgb(255,255,255);
    background: linear-gradient(170deg, rgba(255,255,255,0) 45%, rgba(177,142,114,1) 98%);
    
    position: relative;
    
    padding: 25em 0;
}

.HeadingContainer {
    position: absolute;
    left: 10em;
    top: 10em;
    z-index: 1;
}

.HeadingTitle {
    color:#1A1713  ;
    font-size: 4rem;
}

.HeadingSubTitle {
    color: #b7b3ad ;
    font-size: 1.5rem;
    margin: 0.5em 0;
}

.ButtonsContainer {
    margin-top: 5em;
}

.ButtonsContainer a {
    background-color: #B18E72  ;
    color: white;

    font-size: 1.25rem;

    border-radius: 0.1em;

    margin: 0 0.5em;
    padding: 1em 1.5em;

    transition: opacity 0.1s linear, color 0.3s;
}

.ButtonsContainer a:hover {
    color: #1A1713 ;
    opacity: 0.9;
}

.HeadingImage { 
    position: absolute;
    right: 8em;
    bottom: -1em;
    width: 50em;
}
