.Heading {
    text-align: center;
    margin-bottom: 2em;
}

.FormCard {
    background-color: #E0DDD7;
    border-radius: .25em;
    padding: 2em;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.InputFields {
    border: none;
    border-radius: 0.25em;
    
    padding: 1em;
    margin-bottom: 2em;

    outline: none;
}

.SubmitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FormButton {
    font-size: 1rem;

    margin: 1em 4.5em 0 4.5em;
    padding: .75em 2em;
}

.RegisterParagraph {
    margin-top: 1em;
}

.RegisterParagraph a {
    color: #B18E72;
}

.RegisterParagraph a:hover {
    color: #987151;
}

.ErrorMessage {
    color: red;
    margin-bottom: .25em;
}

.ErrorInput {
    border: 1px solid red;
}