.container-hero {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.title-container-hero {
    max-width: 720px;
    margin: auto;
}

.title-container-hero > h1 {
    font-weight: 500;
    font-size: 2.15rem;
}

.title-container-hero > p {
    font-size: 1.15rem;
    margin: .25em 0 1em 0;

    max-width: 800px;
}

.image-hero {
    display: block;
    filter: brightness(95%);
    border-radius: 2px;

    margin: auto;
    width: 100%;
    max-width: 720px;
}

.cta-container-hero {
    padding: 1em 0;
    margin-bottom: 1em;
}

.cta-container-hero > a {
    margin: 0 .5em 0 0;
    padding: .5em 1em .5em 1em ;
    
    background-color: white;
    color: black;

    font-size: 1.25em;
    
    border: 1px solid black;
    cursor: pointer;
    transition: color .2s ease, background-color .2s ease;
}

.cta-container-hero > a:hover {
    background-color: black;
    color: white;
}

@media (min-width: 1000px) {
    .container-hero {
        padding: 2.5em;

        flex-direction: row;
        justify-content: space-evenly;
    }

    .image-hero {
        margin: 1em 0;
        width: 45%;
        height: 550px;

        object-fit: cover;
        object-position: right;

    }

    .title-container-hero {
        margin: 0;
        width: 50%;
    }
    
    .title-container-hero > h1 {
        font-weight: 600;
        font-size: 3.25rem;
    }

    .title-container-hero > p {
        font-size: 1.5rem;

        margin: 1.5em 0;
    }

    .cta-container-hero > a {
        font-size: 1.5rem;
    }
}

@media (min-width: 1600px) {
    .container {
        padding: 5em;
    }

    .image-hero {
        width: 55%;
        max-width: 900px;
    }
}
