.Main {
    margin: 5em 0;
}

.ButtonBrown {
    background-color: #B18E72  ;
    color: white;

    border: none;
    border-radius: 0.1em;

    cursor: pointer;
    transition: opacity 0.2s linear, color 0.2s;
}

.ButtonBrown:hover {
    color: #1A1713 ;
    opacity: 0.9;
}

.Font400 {
    font-weight: 400;
}

.FlexContainer {
    display: flex;
}

.Column {
    flex-direction: column;
    align-items: center;
}