.section-details {
    padding-top: 2em;
}

.section-details > h1 { 
    text-align: center;

    font-size: 1.5rem;
    font-weight: 500;
}

/* Image slider */

.info-wrapper-details {
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 1200px;
    margin: auto
}

.image-wrapper-details {
    display: flex;
    justify-content: center;

    background-color: #f7f7f7;

    width: 100%;
    padding-top: 65%;
    margin: 1.5em auto;

    position: relative;
}

.image-wrapper-details > img {
    display: block;
    
    border-radius: 3px;

    width: 100%;

    position: absolute;
    top: 0;
}

.image-wrapper-details > button {
    padding: .5em 1em;
    border: none;
    background-color: white;
    
    position: absolute;
    bottom: 1em;
    
    cursor: pointer;
    z-index: 2;
}

.image-wrapper-details > button {
    left: 2em;
}

.image-wrapper-details > button:last-of-type {
    left: 6.5em;
}

.image-wrapper-details > button > img {
    width: 20px;
    padding-top: 5px;
}

/* Table */

.image-wrapper-details > button:last-of-type > img {
    transform: scaleX(-1);
}

.table-wrapper-details span {
    display: block;
}

.rent-details {
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-bottom: 1.5em;
    text-align: center;
}

.rent-details > span {
    font-size: 1.5rem;
    margin-bottom: .25em;
}

.rent-details > span > b {
    font-weight: 500;
}
.rent-details span:last-of-type {
    font-size: 1.05rem;
}

.table-details {
    margin: 1.5em 0;
}

.table-details > span {
    font-size: 1.35rem;
    font-weight: 500;

    margin-bottom: .75em;
}

.table-details > table {
    background-color: #f7f7f7;

    width: 100%;

    font-size: 1.10rem;

    border-collapse: collapse;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.table-details > table > tbody > tr > td {
    padding: .5em;
    border: 1px solid rgb(199, 199, 199); 
}

.table-details > table > tbody > tr > td:first-child {
    width: 55%;
}

.rent-button-details > button {
    background-color: white;
    color: black;
    border: 1px solid black;
    
    font-size: 1.35em;
    font-family: Montserrat, sans-serif;

    width: 100%;
    margin-top: 1em;
    padding: .5em 1em .5em 1em ;

    cursor: pointer;

    transition: color .2s ease, background-color .2s ease;
}

.rent-button-details > button:hover {
    background-color: black;
    color: white;
}

/* Details */

.full-info-details {
    width: 90%;
    max-width: 1200px;
    padding-top: 2em;
    margin: auto;

    position: relative;

    border-top: 1px solid rgb(199, 199, 199);
}

.options-wrapper-details {
    padding-left: 1px;
    
    display: flex;
}

.option-button-details {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33.3%;
    height: 60px;

    background-color: white;
    color: black;

    border: 1px solid black;

    margin-right: -1px;

    font-size: 1rem;
    font-weight: 500;
    font-family: Montserrat, sans-serif;

    cursor: pointer;

    transition: transform .2s linear,
                box-shadow .2s linear,
                background-color .2s linear,
                color .1s linear,
}

.active {
    background-color: black;
    color: white;
}

.full-info-wrapper-details {
    display: none;

    margin: 2em 0;
}

.full-info-wrapper-details > div {
    margin: 1em;
}

.full-info-wrapper-details > div > h3 {
    margin: 0;

    font-size: 1.35rem;
    font-weight: 500;
}

.full-info-wrapper-details > div > p {
    margin: .5em 0 2em 0;

    font-size: 1.15rem;
}

.visible {
    display: block;
}

/* Media queries */

@media (min-width: 1000px) {
    .section-details > h1 {
        font-size: 2rem;
    }

    .info-wrapper-details {
        max-width: 1150px;
        padding: 3em 0 2em 0;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .image-wrapper-details {
        width: 60%;
        padding-top: 40%;
    }

    .image-wrapper-details > img {
        object-fit: cover;
    }

    .table-wrapper-details {
        width: 35%;
    }

    .full-info-details {
        padding-top: 3em;
    }

    .options-wrapper-details > button {
        font-size: 1.2rem;
    }

    .full-info-wrapper-details > div > h3 {
        font-size: 1.40rem;
    }

    .full-info-wrapper-details > div > p {
        font-size: 1.20rem;
    }
}

@media (min-width: 1600px) {
    .image-wrapper-details > img {
        width: 700px;
    }

    .image-wrapper-details > button {
        left: 2em;
    }
    
    .image-wrapper-details > button:last-of-type {
        left: 6.5em;
    }

    .rent-details > span {
        font-size: 1.75rem;
    }
    
    .rent-details span:last-of-type {
        font-size: 1.15rem;
    }

    .table-details > span {
        font-size: 1.5rem;
    }
    
    .table-details > table {
        font-size: 1.15rem;
    }

    .rent-button-details > button {
        font-size: 1.5rem;
    }
}