.table-section-admin {
    margin: 3em auto;
    width: 90%;
}

.table-title-wrapper-admin > h1 { 
    font-size: 2rem;

    margin-bottom: .5em;

    font-weight: 500;
}

.table-title-wrapper-admin > h1 > span {
    text-transform: capitalize;
    
    font-weight: 400;
}

.table-admin {
    background-color: #f7f7f7;

    height: 600px;

    overflow: hidden;
    
    border: 1px solid rgb(199, 199, 199); 
    border-collapse: collapse;

    font-size: 1.05rem;

    display: block;
} 

.table-admin:hover {
    overflow: scroll;
}

.table-admin > thead {
    display: flex;
}

.table-admin > thead > tr {
    border: 1px solid rgb(199, 199, 199); 
    margin-left: -1px;
    margin-top: -1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-admin > thead > tr:nth-child(odd) {
    background-color: white;
}

.table-admin > thead > tr > th {
    font-weight: 600;
    
    width: 8em;

    padding: .65em;

    box-sizing: content-box;
}

.table-admin > tbody > tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-admin > tbody > tr > td:nth-child(odd) {
    background-color: white;
}

.table-admin > tbody > tr > td {
    display: inline-block;

    text-align: center;

    box-sizing: content-box;

    font-weight: 500;

    border: 1px solid rgb(199, 199, 199); 
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    width: 8em;
    height: 1.25em;

    margin-left: -1px;
    margin-top: -1px;
    padding: .65em;
}

.actions-wrapper-admin {
    position: relative;
}

.action-button-admin {
    position: absolute;
    top: -.25em;

    padding: .5em 1em;
    
    border: 0;
    border-radius: 1px;
}

.actions-wrapper-admin > button:first-child{
    left: .5em;
}

.actions-wrapper-admin > button:last-child {
    right: .5em;

    color: #f7f7f7;
    background-color: crimson;
}

.dropdown-wrapper-admin {
    position: relative;
}

.dropdown-toggle-admin {
    background-color: white;

    width: 200px;

    font-size: 1.15rem;
    font-weight: 500;
    font-family: Barlow, sans-serif;
    
    text-align: start;

    padding: .75em;
    margin-top: 1em;
    
    border: 1px solid rgb(199, 199, 199);
    border-radius: 2px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    cursor: pointer;
    
    text-transform: capitalize;
}

.add-button-admin {
    background-color: white;

    padding: .75em 1.5em;
    margin-left: .75em;

    font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 1.15rem;

    border: 1px solid black;
    border-radius: 1px;

    transition: background-color .3s, color .3s;

    cursor: pointer;
}

.add-button-admin:hover {
    background-color: black;
    color: white;
}

.dropdown-admin {
    display: none;

    background-color: white;

    position: absolute;

    padding: 0 1em;

    text-transform: capitalize;

    list-style: none;

    border: 1px solid rgb(199, 199, 199);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    width: 200px;
    max-width: 500px;
    
    z-index: 1;
}

.dropdown-admin > li {
    margin: 1em 0;

    cursor: pointer;
}

.modal-admin {
    display: none;
    
    position: fixed;
    left: 0;
    top: 0;
    
    z-index: 1;

    width: 100%;
    height: 100%;

    overflow: auto;
    
    background-color: rgba(0,0,0,0.4);
}

.modal-form-admin {
    position: fixed;
    top: 5em;
    left: 1em;

    border-radius: 2px;

    background-color: white;
    width: 90%;
    height: 700px;
}

.visible-admin {
    display: block;
}


@media (min-width: 1000px ) {
    .table-section-admin {
        margin: 6em auto;
    }

    .table-title-wrapper-admin > h1 {
        font-size: 2.5rem;
    }

    .table-admin > thead > tr > th { 
        padding: .65em .25em;
    }

    .table-admin > tbody > tr > td { 
        padding: .65em .25em;
    }
}

@media (min-width: 1600px) {
    .table-admin {
        height: 700px;
    }
}