.table-section-admin {
    margin: 3em auto;
    width: 90%;
}

.table-title-wrapper-admin > h1 { 
    font-size: 2rem;

    margin-bottom: .5em;

    font-weight: 500;
}

.table-title-wrapper-admin > h1 > span {
    text-transform: capitalize;
    
    font-weight: 400;
}

.table-admin {
    background-color: #f7f7f7;

    height: 600px;

    overflow-x: hidden;
    
    border: 1px solid rgb(199, 199, 199); 
    border-collapse: collapse;

    font-size: 1.05rem;

    display: block;
} 

.table-admin:hover {
    overflow-x: scroll;
}

.table-admin > thead {
    display: flex;
}

.table-admin > thead > tr {
    border: 1px solid rgb(199, 199, 199); 
    margin-left: -1px;
    margin-top: -1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-admin > thead > tr:nth-child(odd) {
    background-color: white;
}

.table-admin > thead > tr > th {
    font-weight: 500;

    width: 8em;

    padding: .65em;

    box-sizing: content-box;
}

.table-admin > tbody > tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-admin > tbody > tr > td:nth-child(odd) {
    background-color: white;
}

.table-admin > tbody > tr > td {
    display: inline-block;

    text-align: center;

    box-sizing: content-box;

    font-weight: 500;

    border: 1px solid rgb(199, 199, 199); 
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    width: 8em;
    height: 1.25em;

    margin-left: -1px;
    margin-top: -1px;
    padding: .65em;
}

.actions-wrapper-admin {
    position: relative;
}

.action-button-admin {
    position: absolute;
    top: -.25em;

    padding: .5em 1em;
    
    border: 0;
    border-radius: 1px;
}

.actions-wrapper-admin > button:first-child{
    left: .5em;

    background-color: crimson;
    color: #f7f7f7;
}

.actions-wrapper-admin > button:last-child {
    right: .5em;
}

@media (min-width: 1000px ) {
    .table-title-wrapper-admin > h1 {
        font-size: 2.5rem;
    }

    .table-admin > thead > tr > th { 
        padding: .65em .25em;
    }

    .table-admin > tbody > tr > td { 
        padding: .65em .25em;
    }
}

@media (min-width: 1600px) {
    .table-admin {
        height: 700px;
    }
}